@font-face {
    font-family: name;
    src: url(Andrea-Normal.otf);
}

.mynavbarbrand { 
	font-size: 35px;
	color: #fff!important;
	height: 60px;
}
.mynavbarbrand:hover {
	color: #D84867;

}
.navbar-nav a {
	color: #fff!important;
}
.mynavbar {
	background-color: #BED95B!important;
	font-family: name;
	font-size: 27px!important;
	padding-top: 6px;
	color: !important;
	border:0px!important;
}
.box {
	height:700px;

}

.carousel {
	margin-top: 65px;
	background-attachment: fixed;

}

.carousel-control:hover {
	background:none!important;

}

.imagebutton {
	height: 150px!important;
	overflow:hidden;
	padding-left: 15px!important;
	padding-right: 15px!important;
	margin-top: 20px
}

.image {
	width: 100%;}

.logo {
	position: relative;
	top:-15px;
}
    

.about{
	height: 400px;
	margin-top: 25px;
	text-align: center;
	margin-top: 65px;
}

.about_header{
	margin-top: 50px;
}

p {
	margin-top: 30px;
}




.contactimage{
	height: 500px;
	width:100%;
	background-image: url(../image/stlawrenceillust.jpg);
	background-attachment: fixed;
}

.contact{
	text-align: center;

}
.contactrow{
	height: 800px;
}
.map-pic{
	width:461px;
	display: block;
	margin:0 auto;
}

.maple{
	height: 300px;
	width:100%;
	background-image: url(../image/maplesyrup.jpg);
	background-attachment: fixed;
	
}

.market{
	height: 300px;
	width:100%;
	background-image: url(../image/market_large.jpg);
	background-attachment: fixed;

}
	
