@font-face {
    font-family: name;
    src: url(Andrea-Normal.otf);
}

.mynavbarbrand { 
	font-size: 35px;
	color: #fff!important;
	height: 60px;
}
.navbar-nav a {
	color: #fff!important;
}
.mynavbar {
	background-color: #BED95B!important;
	font-family: name;
	font-size: 27px!important;
	padding-top: 6px;
	color: !important;
	border:0px!important;
}
.box {
	height:700px;

}

.carousel {
	margin-top: 65px;
	background-attachment: fixed;

}

.carousel-control:hover {
	background:none!important;

}

.imagebutton {
	height: 150px!important;
	overflow:hidden;
	padding-left: 15px!important;
	padding-right: 15px!important;
	margin-top: 20px
}

.image {
	width: 100%;}

.logo {
	position: relative;
	top:-15px;
}
    

.about{
	height: 400px;
	margin-top: 25px;
	text-align: center;
}

p {
	margin-top: 30px;
}
	
